@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 800;
  font-style: normal;

  font-display: swap;
  src: url("@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2")
    format("woff2-variations");
}

:root {
  --vp-c-blue-1: #1662c5;
  --vp-c-blue-2: #2275da;
  --vp-c-blue-3: #5c9de4;
  --vp-c-blue-soft: rgb(52 130 219 / 14%);
  --vp-c-brand-1: var(--vp-c-blue-3);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-1);
  --vp-c-brand-soft: var(--vp-c-blue-soft);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #3463fe 30%, #4787ff);
  --font-family-base:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --vp-font-family-base: var(--font-family-base);
  --vp-font-family-mono:
    "JetBrains Mono", ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
    monospace;

  /* TODO: would it be possible to extract this data from Iconify? */
  --vp-icon-download: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4'/%3E%3Cpolyline points='7 10 12 15 17 10'/%3E%3Cline x1='12' y1='15' x2='12' y2='3'/%3E%3C/g%3E%3C/svg%3E");

  &:where(:lang(zh)) {
    /* TODO: review breakage after https://github.com/vuejs/vitepress/commit/91b06b67a302ebfa210e888fe9d03d27fb291b31 */
    --vp-font-family-base: "Punctuation SC", var(--font-family-base);
  }

  &:not(.dark) .dark-only,
  &:is(.dark) .light-only {
    display: none;
  }
}

.VPLink.no-icon::after {
  content: unset;
}

*,
*::-webkit-scrollbar {
  scrollbar-color: var(--vp-c-gray-1) transparent;
  scrollbar-width: thin;
}

html:has(dialog#fullscreen[open], div.VPLocalSearchBox) {
  scrollbar-gutter: stable;
  overflow: hidden;
}

::view-transition-group(code-block-view-transition) {
  overflow: hidden;
  border-radius: 12px;
}

::view-transition-group(root) {
  animation: none;
}

code,
pre {
  font-variant-ligatures: none;
  tab-size: 2 !important;
}

div[class*="language-"] button.copy.fullscreen {
  background-image: unset;

  svg {
    margin: auto;
    color: #808080;
  }

  + button.copy {
    right: 64px;
  }
}

/* Download button on {download} images */
.download-image {
  position: relative;
  display: inline-block;
}

.download-image-button {
  cursor: pointer;

  /* rtl:ignore */
  position: absolute;
  z-index: 3;
  top: 12px;

  /* rtl:ignore */
  right: 12px;

  width: 40px;
  height: 40px;
  border: 1px solid var(--vp-code-copy-code-border-color);
  border-radius: 4px;

  opacity: 50%;
  background-color: var(--vp-code-copy-code-bg);
  background-image: var(--vp-icon-download);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 20px;

  transition:
    border-color 0.25s,
    background-color 0.25s,
    opacity 0.25s;

  &:hover,
  &:focus {
    border-color: var(--vp-code-copy-code-hover-border-color);
    opacity: 100%;
    background-color: var(--vp-code-copy-code-hover-bg);
  }
}

/* Description at the top of pages */
p[role="doc-subtitle"] {
  margin-block: 1rem;

  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.5;
  color: var(--vp-c-text-3);
  text-align: left;
  text-wrap: balance;
}

body:has(.VPFooter:not(.has-sidebar)) .aside-container {
  padding-bottom: 64px;
}

@media (width >= 1525px) {
  .aside-container,
  .aside-curtain {
    width: 300px !important;
  }
}

.VPHome {
  margin-bottom: 0 !important;

  p.tagline {
    text-wrap: balance;
  }
}

.VPLocalSearchBox > .backdrop {
  opacity: 0%;
  animation: show 150ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

.VPLocalSearchBox > .shell {
  transform-origin: top center;
  transform: rotateX(-90deg);
  opacity: 0%;
  animation: show 250ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes show {
  100% {
    transform: none;
    opacity: 100%;
  }
}

.medium-zoom-overlay {
  z-index: 10000;
}

.medium-zoom-image--opened {
  z-index: 10001;
}

.vp-doc kbd {
  display: inline-block;

  min-width: 24px;
  padding: 5px;
  border: 1px solid rgb(128 128 128 / 15%);
  border-radius: 4px;

  font-size: 0.85em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  background: rgb(128 128 128 / 10%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
}

.vp-doc > p > img,
.vp-doc > div > p > img,
.medium-zoom-image--opened {
  margin-inline: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px #8883;
}

h1 > .VPBadge {
  padding: 5px 12px;
  border-radius: 8px;
  font-family: var(--vp-font-family-mono);
}

/* Remove border from headings if that's the first thing in the page */
:is(hgroup) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0;
  border-top: none;
}
